@use "../../global.scss" as g;

.gallery-component {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  & > .gallery-content {
    width: 100%;
    margin: g.toRem(20) 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(g.toRem(350), 1fr));
    gap: g.toRem(15);
  }

  & > .gallery-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: g.toRem(15);

    & > button {
        font-size: g.toEm(16);
        font-weight: 600;
        padding: g.toEm(10) g.toEm(15);
        margin: 0 g.toRem(10);
        border-radius: g.toRem(10);
        border: none;
        cursor: pointer;
    }
    
    & > .current-btn {
        background-color: g.$primary;
        color: g.$light-ultra;
        box-shadow: g.$box-shadow-primary;

        &:active {
          box-shadow: g.$box-shadow-primary-inset;
        }
    }
    
    & > .other-btn {
        background: none;
        color: g.$dark;
        box-shadow: g.$box-shadow-light;

        &:active {
          box-shadow: g.$box-shadow-light-inset;
        }
    }
  }
}
