@use "../../global.scss" as g;

.product {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: g.toRem(20);
  padding: g.toEm(10);
  margin: g.toRem(10) 0;
  box-shadow: g.toRem(7) g.toRem(7) g.toRem(12) g.$light-soft,
    g.toRem(-7) g.toRem(-7) g.toRem(12) g.$light-ultra;

  & > .product-thumbnail-container {
    width: 100%;
    border-radius: g.toRem(10);
    overflow: hidden;

    & > img {
      width: 100%;
      height: 100%;
      vertical-align: top;
      object-fit: fill;
      aspect-ratio: 16/10;
    }
  }

  & > .product-info {
    & > h3 {
      font-size: g.toEm(20);
      color: g.$dark;
      padding: g.toEm(5) 0;
    }

    & > p {
      font-size: g.toEm(16);
      color: g.$muted;
      padding: g.toEm(2) 0;
    }

    & > .product-actions {
      display: flex;
      align-self: center;
      justify-content: space-around;
      margin-top: g.toRem(10);

      & > button, a {
        text-decoration: none;
        font-size: g.toEm(16);
        padding: g.toEm(10) g.toEm(15);
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: g.toRem(20);
        cursor: pointer;

        & > p {
          margin-left: g.toRem(10);
        }
      }

      & > .product-cart-btn {
        background-color: g.$primary;
        color: g.$light-ultra;
        box-shadow: g.toRem(7) g.toRem(7) g.toRem(12) g.$light-soft,
          0 0 g.toRem(9) g.$primary;

        &:active {
          box-shadow: inset 0 0 g.toRem(5) g.$dark-soft;
        }
      }

      & > .product-info-btn {
        background: none;
        color: g.$dark;
        box-shadow: g.toRem(7) g.toRem(7) g.toRem(12) g.$light-soft,
          g.toRem(-7) g.toRem(-7) g.toRem(12) g.$light-ultra;

        &:active {
          box-shadow: inset g.toRem(7) g.toRem(7) g.toRem(12) g.$light-soft,
            g.toRem(-7) g.toRem(-7) g.toRem(12) g.$light-ultra;
        }
      }
    }
  }
}

@media (max-width: g.toRem(479.98)) {
  .product {
    & > .product-info {
      & > h3 {
        font-size: g.toEm(18);
      }

      & > p {
        font-size: g.toEm(14);
      }

      & > .product-actions {

        & > button, a {
          font-size: g.toEm(14);
          padding: g.toEm(8) g.toEm(12);
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;
          border-radius: g.toRem(20);
          cursor: pointer;
        }
      }
    }
  }
}
