@use "../../global.scss" as g;

.product-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    & > .pp-title-bar {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        & > h1 {
            font-size: g.toEm(26);
            margin: 0 g.toEm(10);
        }

        & > a {
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: g.toEm(16);
            color: g.$dark;
            padding: g.toEm(10) g.toEm(15);
            border: none;
            border-radius: g.toRem(14);
            background: none;
            box-shadow: g.$box-shadow-light;
            cursor: pointer;

            &:active {
                box-shadow: g.$box-shadow-light-inset;
            }

            & > p {
                margin-left: g.toEm(10);
            }
        }
    }

    & > .pp-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: g.toRem(10);

        & > .pp-thumbnail-container {
            width: calc(50% - g.toRem(20));
            padding: 0 g.toRem(10);      
            overflow: hidden;

            & > img {
                width: 100%;
                height: 100%;
                vertical-align: top;
                object-fit: fill;
                aspect-ratio: 16/10;
                border-radius: g.toRem(20);
            }
        }

        & > .pp-info {
            width: 50%;
            padding: 0 g.toEm(10);
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            & > p {
                font-size: g.toEm(16);
                color: g.$dark;
                padding: g.toEm(5) 0;
            }

            & > .pp-actions {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                & > button, a {
                    text-decoration: none;
                    font-size: g.toEm(16);
                    color: g.$light-ultra;
                    padding: g.toEm(10) g.toEm(15);
                    margin: g.toRem(10) 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: none;
                    border-radius: g.toRem(20);
                    background-color: g.$primary;
                    cursor: pointer;
                    box-shadow: g.$box-shadow-primary;

                    &:active {
                        box-shadow: inset 0 0 g.toRem(5) g.$dark-soft;
                    }

                    & > p {
                        margin-left: g.toRem(10);
                    }
                }
            }
        }
    }
}