@use "../../global.scss" as g;

.home-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  & > .hp-title-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    & > h1 {
      font-size: g.toEm(26);
      margin: 0 g.toEm(10);
    }
  }
}
