@use "../../global.scss" as g;

.footer {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: g.toRem(10) 0;
  background-color: g.$light;
  box-shadow: g.$box-shadow-light;

  & > .target {
    box-shadow: g.$box-shadow-light-inset;
  }

  & > a,
  button {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: g.toEm(10) g.toEm(15);
    font-size: g.toEm(16);
    font-family: sans-serif;
    color: g.$dark;
    background: none;
    border: none;
    border-radius: g.toRem(14);
    box-shadow: g.$box-shadow-light;
    cursor: pointer;

    &:active {
      box-shadow: g.$box-shadow-light-inset;
    }

    & > .ft-cart-info {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      & > p {
        font-size: g.toEm(11);
        color: g.$light;
        background-color: g.$primary;
        border-radius: g.toRem(50);
        padding: g.toEm(5) g.toEm(10);
      }
    }
  }
}

@media (max-width: g.toRem(679.98)) {
  .footer {
    display: flex;
  }
}
