@import "../../../global.scss";

.form-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.form-top-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: toRem(15) 0;
}

.form-top-info > h2 {
  font-size: toEm(30);
  font-family: "Gilroy";
  font-style: normal;
  font-weight: bold;
  color: $dark;
  margin-left: toRem(10);
}

.form-top-info > a {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: toEm(20);
  font-family: "Gilroy";
  font-style: normal;
  font-weight: normal;
  color: $dark;
  padding: toEm(5) toEm(15);
  margin-right: toRem(10);
  border: none;
  border-radius: toRem(10);
  background-color: $secondary-ultra;
  cursor: pointer;
}

.form-top-info > a:hover {
  transition: 0.3s;
  box-shadow: 0 0 toRem(5) $secondary-gray;
  font-weight: 600;
}

.form-top-info > a:active {
  box-shadow: inset 0 0 toRem(5) $dark;
}

.form-top-info > a > p {
  padding-left: toEm(5);
}

.form-top-msg {
  width: 100%;
  max-height: toRem(87);
  margin: toRem(5) 0;
  background-color: $primary;
  border-radius: toRem(10);
  overflow: hidden;
}

.form-top-msg > p {
  text-align: center;
  font-size: toEm(16);
  font-family: "Gilroy";
  font-weight: 600;
  font-style: normal;
  color: $dark;
  padding: toEm(7) toEm(10);
  max-height: toRem(87);
}

// DARK MODE
.dark .form-top-info > h2 {
  color: $light-ultra;
  text-shadow: 0 0 toRem(5) $light-ultra;
}

.dark .form-top-info > a {
  color: $dark;
  background-color: $primary;
  box-shadow: 0 0 toRem(3) $primary-ultra;
}

.dark .form-top-info > a:hover {
  box-shadow: 0 0 toRem(7) $primary-ultra;
}

.dark .form-top-msg {
  background-color: $secondary;
  box-shadow: 0 0 toRem(5) $secondary-ultra;
}
