@use "../../global.scss" as g;

.header {
  width: 100%;
  height: g.toRem(60);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: g.toRem(20);
  background-color: g.$light;
  box-shadow: g.$box-shadow-light;
  // overflow: hidden;

  & > .header-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: g.toEm(20);

    & > button {
      font-size: g.toEm(16);
      color: g.$dark;
      padding: g.toEm(10) g.toEm(15);
      border: none;
      border-radius: g.toRem(14);
      background: none;
      box-shadow: g.$box-shadow-light;
      cursor: pointer;

      &:active {
        box-shadow: g.$box-shadow-light-inset;
      }
    }

    & > a {
      text-decoration: none;
      font-size: g.toEm(26);
      font-weight: 700;
      color: g.$dark;
      margin-left: g.toRem(20);
    }
  }

  & > .header-nav {
    display: flex;
    align-items: center;
    justify-content: center;

    & > a {
      text-decoration: none;
      font-size: g.toEm(18);
      font-family: sans-serif;
      font-weight: 500;
      color: g.$muted;
      padding: g.toEm(5) g.toEm(10);
    }

    & > .target {
      color: g.$dark;
      font-weight: 700;
    }
  }

  & > .header-right {
    display: flex;
    justify-content: flex-end;
    min-width: 20%;

    & > a {
      padding: g.toEm(10) g.toEm(15);
      position: relative;
    }

    & > a,
    button {
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: g.toEm(18);
      color: g.$dark;
      background: none;
      border: none;
      border-radius: g.toRem(50);
      cursor: pointer;

      & > p {
        position: absolute;
        font-size: g.toEm(11);
        color: g.$light;
        background-color: g.$primary;
        border-radius: g.toRem(50);
        padding: g.toEm(5) g.toEm(10);
        right: 10%;
        bottom: 10%;
      }

      &:hover {
        transition: 0.3s;
        background-color: g.$light-soft;
        & > span {
          color: g.$secondary;
        }
      }
    }

    & > .header-profile-container {
      width: g.toRem(50);
      height: g.toRem(50);
      border-radius: g.toRem(20);
      margin: 0 g.toRem(10);
      cursor: pointer;
      background-color: g.$light-soft;
      overflow: hidden;

      & > img {
        width: 100%;
        height: 100%;
        vertical-align: top;
        object-fit: fill;
        aspect-ratio: 1/1;

        &:hover {
          transition: 0.3s;
          filter: brightness(80%);
        }
      }
    }

    & > .header-profile-menu {
      list-style: none;
      position: absolute;
      top: g.toRem(70);
      right: 0;
      background-color: g.$light;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      border-radius: g.toRem(20);
      z-index: 101;
      padding: g.toRem(10);
      box-shadow: g.$box-shadow-light;

      & > li {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        border-radius: g.toRem(20);

        & > a,
        & > button {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          text-decoration: none;
          white-space: nowrap;
          font-size: g.toEm(16);
          font-family: "Gilroy";
          font-weight: 400;
          color: g.$dark;
          padding: g.toEm(10) g.toEm(20);
          margin: g.toRem(5) 0;
          border: none;
          border-radius: g.toEm(20);
          cursor: pointer;
          overflow: hidden;
          box-shadow: g.$box-shadow-light;

          & > p {
            position: static;
            font-size: g.toEm(16);
            color: g.$dark;
            padding-left: g.toEm(10);
            background: none;
          }

          &:hover {
            background: none;
          }

          &:active {
            box-shadow: g.$box-shadow-light-inset;
          }
        }
      }
    }
  }

  & > .header-right-off {
    display: flex;
    justify-content: flex-end;

    & > a {
      text-decoration: none;
      font-size: g.toEm(16);
      color: g.$light;
      padding: g.toEm(10) g.toEm(15);
      margin: 0 g.toRem(10);
      background-color: g.$primary;
      border: none;
      border-radius: g.toRem(20);
      box-shadow: g.$box-shadow-primary;
      cursor: pointer;

      &:active {
        box-shadow: g.$box-shadow-primary-inset;
      }
    }
  }
}

@media (max-width: g.toRem(679.98)) {
  .header {
    left: 10%;
    right: 10%;

    & > .header-nav {
      display: none;
    }

    & > .header-right {
      & > .header-cart {
        display: none;
      }
    }
  }
}

@media (max-width: g.toRem(479.98)) {
  .header {
    position: fixed;
    width: 90%;
    left: 5%;
    right: 5%;
  }
}

@media (max-width: g.toRem(349.98)) {
  .header {
    & > .header-left {
      & > a {
        font-size: g.toEm(20);
      }
    }
  }
}
